{% extends 'base.html' %}

{% block title %}Branches{% endblock %}
{% block content %}


            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Ernakulam_district">Ernakulam</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Thrissur">Thrissur</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kottayam">Kottayam</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Alappuzha">Alappuzha</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Idukki_district">Idukki</a></li>
            </ul>
{% endblock %}